<!DOCTYPE html>
<html>

    <head>
        <!--* JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="{{url_for('static', filename='index.js')}}"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <!--* CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">

        <!--* Favicon -->
        <!-- Add Favicon Here -->

    </head>

    <body class="titlePageDiv">

        <!-- A grey horizontal navbar that becomes vertical on small screens -->
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">

            <!-- Links -->
            <ul class="navbar-nav">
                <a class="navbar-brand" href="#">Itinerary+</a>
                <li class="nav-item">
                    <!-- <a class="nav-link" href="#">New <i class="fa fa-plus-square" aria-hidden="true"></i></a> -->
                    <a class="nav-link" href="#">New</a>
                    <!-- TODO Add Func to Add -->
                </li>
                <li class="nav-item">
                    <!-- <a class="nav-link" href="#">Open <i class="fa fa-folder-open-o" aria-hidden="true"></i></a> -->
                    <a class="nav-link" href="#">Open</a>
                    <!-- TODO add func to open -->
                </li>
            </ul>

        </nav>
        <div class="text-center titleText">
            <br>
            <br>
            <br>
            <br>
            <main role="main" class="inner cover">
                <h1 class="cover-heading startPageHeading">Itinerary+</h1>
                <p class="lead">The future of travel planning. Just click create and it will <br> the rest. Simpily create an itinerary and edit from anywhere. <br>Share with others by just sending them the code.</p>
                <p class="lead">
                    <a href="#" class="btn btn-lg btn-primary">Create an Itinerary</a>
                    <!-- TODO Add func to create -->
                </p>
            </main>
        </div>
        <!-- Add Modal Starts Here -->
    <div id="addModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Create an Itinerary</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <h5>Name</h5>
                    <input class="form-control" id="itinerarynameinput" type="text">
                    <h5>Unique Generated ID (Copy and Save)</h5>
                    <p></p> <!-- * JS should auto add id here -->
                    <label class="control-label text-danger" id = "addErrorBox"></label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" role="deleteAllCompleted">Delete All</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>

        </div>
    </div>
    <!-- Delete Modal Ends Here -->
        <!-- TODO create open modal -->
    </body>

</html>