<!DOCTYPE html>
<html>

    <head>
        <!--* CSS -->
        <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">

        {% include 'header.html' %}

    </head>

    <body class="titlePageDiv">
        <!-- A grey horizontal navbar that becomes vertical on small screens -->
        {% include 'navbar.html' %}

        <div class="text-center titleText">
            <br>
            <br>
            <br>
            <br>
            <br>
            <main role="main" class="inner cover">
                <h1 class="cover-heading startPageHeading">Itinerary+</h1>
                <p class="lead">Its more than an itinerary. Just click create and it will <br> do the rest. Discover the world with Itinerary+</p>
                <p class="lead">
                    <a href="#addModal" data-toggle="modal" class="btn btn-lg btn-primary addModalOpener">Create an
                        Itinerary</a>
                </p>
            </main>
        </div>
        {% include 'modals.html' %}
    </body>

</html>