<!DOCTYPE html>
<html>

    <head>
        <!--* JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="{{url_for('static', filename='index.js')}}"></script>

        <!--* CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">

        <!--* Favicon -->
        <!-- Add Favicon Here -->

    </head>

    <body>

        <!-- A grey horizontal navbar that becomes vertical on small screens -->
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">

            <!-- Links -->
            <ul class="navbar-nav">
                <!-- TODO add fa to brand -->
                <a class="navbar-brand" href="#">Itinerary+</a>
                <li class="nav-item">
                    <!-- TODO Add fa to add -->
                    <a class="nav-link" href="#">New</a>
                </li>
                <li class="nav-item">
                    <!-- TODO Add fa open -->
                    <a class="nav-link" href="#">Open</a>
                </li>
            </ul>

        </nav>
        <!-- TODO Add Create Button -->
    </body>

</html>