<!DOCTYPE html>
<html>

    <head>
        <!-- JS -->
        <script src="{{url_for('static', filename='itinerary.js')}}"></script>

        <!-- CSS -->
        <link rel="stylesheet" href="{{url_for('static', filename='itinerary.css')}}">

        {% include 'header.html' %}

    </head>

    <body class="pageBody">
        {% include 'navbar.html' %}

        <br>
        <!-- Cards -->
        <div class="card itineraryControlCard text-center shadow-lg p-3 mb-5 bg-white rounded w-50">
            <div class="card-body">
                <h2 class="card-title">{{ myName }}</h2>
                <p class="card-text uniqueIDOnCard">Unique Id: <span id="InteneraryIdLabel">{{ itineraryInUseID
                        }}</span></p>
                <a href="#" class="btn btn-secondary"><i class="fa fa-print" aria-hidden="true"></i></a>
                <a href="#addDayModal" data-toggle="modal" class="btn btn-success"><i class="fa fa-plus"
                        aria-hidden="true"></i></a>
                <a href="#" data-toggle="modal" class="btn btn-danger"><i class="fa fa-trash"
                        aria-hidden="true"></i></a>
                <a href="#" class="btn btn-primary"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
            </div>
        </div>

        {% for day in myDays %}
        <br>
        <div class="card dayCard shadow-lg p-3 mb-5 bg-white rounded myTransparentCard w-60">
            <div class="card-body" id="{{ day }}">
                <h3 class="card-title">{% set thisDay = day['dayrow'] %}{{ thisDay[2] }}</h3>
                <h4 class="font-weight-light dayDescription">{{ thisDay[3] }}</h4>
                <a class="btn btn-danger deleteDayModalOpener" data-toggle="#deleteDayModal"><i
                        class="fa fa-trash" aria-hidden="true"></i></a>
                <div style="display: inline" id = "{{day}}"></div>
                <a id="{{ day }}" class="btn btn-info dayEventsModalOpener" data-toggle="#dayEventsModal"><i
                        class="fa fa-info-circle" aria-hidden="true"></i></a>
            </div>
        </div>
        {% endfor %}

        

        <!--* DayEvents Modal-->
        <div id="dayEventsModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Events</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <table id="dayEventsModalTable" width="80%">
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success addEventButton"><i class="fa fa-plus"
                                aria-hidden="true"></i></button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <!--* AddDay Modal-->
        <div id="addDayModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Add A Day</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <label>Name</label>
                        <input class="form-control" id="addDayModalNameInput" type="text">
                        <label>Description</label>
                        <textarea class="form-control md-textarea" rows="4" id="addDayModalDescriptionBox"
                            maxlength="600"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" role="finalAddDayModalAdder" class="btn btn-success">Create</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <!--* DeleteDay Modal-->
        <div id="deleteDayModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Are you Sure?</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <label>Clicking delete will permanently remove this day and it's events.</label>
                    </div>
                    <div class="modal-footer">
                        <button type="button" role="finalDayDeleterButton" class="btn btn-danger">Delete</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <!--* AddEvent Modal-->
        <div id="addEventModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Add an Event</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <label>Event Name</label>
                        <input class="form-control" id="eventDayTypeTextInput" type="text">
                        <label>Start Time</label>
                        <input class="form-control" id="eventDayStartTimeInput" type="time">
                        <label>End Time</label>
                        <input class="form-control" id="eventDayEndTimeInput" type="time">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success finalEventAdder">Create</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <!--* DeleteEvent Modal -->
        <div id="deleteEventModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Are you Sure?</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <label>Clicking delete will permanently remove this event.</label>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="finalEventDeleterButton" class="btn btn-danger">Delete</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        {% include 'modals.html' %}
    </body>

</html>