<!-- Nav Bar -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

    <!-- Links -->
    <ul class="navbar-nav">
        <a class="navbar-brand" href="/">Itinerary+</a>
        <li class="nav-item">
            <!-- <a class="nav-link" href="#">New <i class="fa fa-plus-square" aria-hidden="true"></i></a> -->
            <a data-target="#addModal" data-toggle="modal" class="nav-link addModalOpener"
                href="#addModal">New</a>
        </li>
        <li class="nav-item">
            <!-- <a class="nav-link" href="#">Open <i class="fa fa-folder-open-o" aria-hidden="true"></i></a> -->
            <a data-toggle="modal" class="nav-link openModalOpener openItineraryModalOpener" role = "openItineraryModalOpener">Open</a>
        </li>
    </ul>

</nav>